[2016-05-06 07:24] jasmussen opened #4 "Reference Agent W. component in live-chat component"
Agent W., though it has CSS for extra functionality, is mostly a flat SVG right now. Still, it's a component built for easter eggs and more, but it's currently only in the HUD: https://github.com/Automattic/tinkerchat-hud/tree/master/src/lib/agent-w

I tried adding it to the live-chat component, but couldn't find a great clean way to do it.

[2016-05-06 07:27] jasmussen opened #5 "Add button to open live-chat to sidebar footer"
Mockup:

![untitled-1](https://cloud.githubusercontent.com/assets/1204802/15066843/a31da294-136c-11e6-9480-4f4b783805ff.png)

Calypso has a new permanent sidebar footer, which would be a good place to put a "Support Chat" link when support is available.

[2016-05-06 20:29] andreabadgley opened #6 "Make URLS clickable in live-chat component"
When an operator provides a URL for a user to click in chat, the URL is not clickable. User must copy URL and paste into browser to open the link.

[2016-05-06 20:35] andreabadgley opened #7 "Provide notifications to user in live-chat component"
When a user receives a new chat message from an operator but is not in the chat (is looking at another window/tab, etc), provide a subtle audible notification or visual notification to browser tab.

[2016-05-09 12:29] mahangu opened #8 "Calypso interface elements clip through chat panel"
On several screens in Calypso, interface elements such as buttons and labels currently clip through the chat panel.

_Billing History_ - `/me/billing`
![wl3dlb5zde-2000x2000](https://cloud.githubusercontent.com/assets/10125810/15112998/575a8192-160f-11e6-9f55-a183787caa89.png)

_My Sites > Menus_ - `/menus/`
![screen shot 2016-05-09 at 5 48 30 pm](https://cloud.githubusercontent.com/assets/1012581

[2016-05-09 12:32] mahangu commented on #8
_My Sites > Themes_ - `/design/`

![screen shot 2016-05-09 at 6 01 32 pm](https://cloud.githubusercontent.com/assets/10125810/15113151/29579fae-1610-11e6-97ae-8b16b5e6fbf8.png)

_My Sites > Blog posts / Pages_ - `/posts/` and `/pages`
![screen shot 2016-05-09 at 6 02 48 pm](https://cloud.githubusercontent.com/assets/10125810/15113207/867222f4-1610-11e6-9496-85cf0a23233f.png)

_My Sites > Stats_ -

[2016-05-09 12:42] mahangu opened #9 "Chat panel doesn't wrap long URLs"
Currently, when a longer URL is entered in the chat, the chat panel doesn't wrap it to the panel's exact dimensions, and instead clips the URL, and makes this extra content content accessible via both a horizontal and a vertical scrollbar.

![screen shot 2016-05-09 at 5 45 04 pm](https://cloud.githubusercontent.com/assets/10125810/15113338/46603542-1611-11e6-89c6-5b5952bec07e.png)

That chat panel

[2016-05-11 13:05] jasmussen commented on #9
Fixed in the most recent commit to the try/live-chat branch ^^

[2016-05-11 13:05] #9 closed, assigned to jasmussen

[2016-05-11 13:05] jasmussen commented on #8
Fixed in the most recent commit to the try/live-chat branch ^^

[2016-05-11 13:05] #8 closed, assigned to nobody

[2016-05-19 08:20] jasmussen commented on #4
Fixed in a recent commit.

[2016-05-19 08:20] #4 closed, assigned to nobody

[2016-05-20 08:36] jasmussen opened #10 "Rename Wapuu to Agent W. and don't show nick in chats"
Currently the chatbot looks like this:

![screen shot 2016-05-20 at 10 34 06](https://cloud.githubusercontent.com/assets/1204802/15422010/722cc4c0-1e76-11e6-863b-40313db2584e.png)

We should update Wapuu's nickname (`meta.nick`, don't know where that's stored) so it shows up right as the img alt text. We should also not show it in the chat itself. My assumption is right now that it's unnecessary i

[2016-05-20 17:12] beaucollins commented on #10
The nick and user information was being supplied by the tinkerchat server. I updated it to use Agent W.

[2016-05-20 20:30] andreabadgley commented on #9
Looks like things are now being pushed to the left. A link was wrapped in the chat bubble but pushed Agent W off:
<img width="286" alt="agent w cut off when long text" src="https://cloud.githubusercontent.com/assets/9036382/15441208/9c97d8c2-1ea7-11e6-8c78-d674d1d88c46.png">

And when I added unbroken text (not links) it pushed the chat bubble out to the left:
<img width="298" alt="pls wrap text"

[2016-05-20 20:30] chad1008 opened #12 "Scrolling When Browser Is Out Of Focus"
When another window has focus, scrolling the chat (without clicking so focus remains on the other window) to the end will then scroll the main WordPress.com page being displayed.

If the browser window has focus, scroll behaves normally. The main page isn't scrolled while the cursor is in the chat panel.

Steps to reproduce:
1. open a chat long enough to scroll
2. click into a different window on

[2016-05-20 22:23] andreabadgley commented on #12
Adding that when you keep scrolling at end of chat, the scroll jumps over to the Reader and starts scrolling the Reader. Here's a 35 second video:

https://cloudup.com/c9DeltGNHBm

A couple of extra scrolls are required to get it to jump from the chat sidebar to the Reader. Tested on MacBook Pro trackpad in Firefox.

[2016-05-24 22:30] jasmussen commented on #9
Fixed the wrapping in a recent commit.

[2016-05-25 23:05] jasmussen commented on #5
This is in. The blue button is also still in, but hidden for now. We should test internally, possibly externally as well, which one we like the most. A possible downside (or maybe that's actually an upside?) is that the sidebar footer button is harder to find. But it's in a good place next to the help link though.

[2016-05-25 23:05] #5 closed, assigned to nobody

[2016-05-27 11:43] mahangu opened #13 "Scroll location jump on resize from sidebar to chat panel"
When you shrink the browser window so that the chat sidebar changes into a chat panel, the scroll bar of the chat panel <em>jumps</em> upwards, meaning that the user has to scroll down again to get to the last typed text.

Screen capture -
https://cloudup.com/cE9GrWjkJZD

**Steps to reproduce**
1) Open a browser window, load the user facing site, and make sure the window is large enough for the ch

[2016-05-27 22:45] mjangda opened #14 "Track User Location/Navigation"
As the user navigates around Calypso, we need to track their current page and report that to the service as an event (`navigation`?)

We need to limit the event such that it's not visible to the user (only operators [and bots?]).

Needed for https://github.com/Automattic/tinkerchat-hud/issues/49

[2016-05-27 23:01] mjangda opened #15 "Track user's browser and system info"
As an added bit of info for HEs, when a user initiates a chat, we should grab a batch of data about the user's browser and system and send that to the service so it's available in the HUD.

[2016-05-30 06:28] mahangu opened #16 "Ongoing chat does not sync across browser sessions"
If a user is in an ongoing chat with us, and logs in from another browser/session, new chat messages that come in after they login, appear in the new browser/session.

However, chat messages that have already been sent do not get synced across to the new browser session automatically. Ideally, the user should see the existing chat messages when they login from a new browser/session.

![screen shot

[2016-05-30 11:26] andreabadgley commented on #15
Thank you for thinking of this. Knowing the user's browser and OS is super helpful when troubleshooting.

[2016-05-30 12:59] andreabadgley commented on #13
cc: @jasmussen

[2016-05-30 13:28] andreabadgley opened #17 "Live chat scrollbleed happening on trackpad in Windows + Internet Explorer"
Tested scrolling in live chat component in Windows 8.1, IE 11, Dell Inspiron 7537 laptop with trackpad. Scrollbleed occurs:
1. Starting at URL: https://lit-cove-83883.herokuapp.com/
2. Log in using WPcom credentials and open chat (someone needs to be logged into HUD)
3. Chat enough to create scroll.
4. Expand window to full screen to create chat sidebar.
5. Hover over (or click into) chat sidebar

[2016-05-30 14:29] andreabadgley opened #18 "Live chat scrolling on MBP in Safari: no overscroll bounce in chat window"
Tested on MacBook Pro in Safari using trackpad. A couple of minor issues:
1. When Safari is not focused, main body scrolls when hovering over chat, as reported in https://github.com/tinkertinker/wp-calypso/issues/12 (The reverse is not true: when Safari is not focused, only the main body scrolls when hovering over the main body -- chat does not scroll when hovering over main body).
2. When Safari

[2016-05-30 14:57] chad1008 commented on #12
For completeness, this happened for me in Chrome on a MBP

[2016-05-30 16:01] andreabadgley commented on #12
Did some more testing on this on MBP trackpad. Safari and Chrome behave similarly to each other and as reported here: when window is not focused, scrolling will bleed into main body even when hovering over chat sidebar.

In Firefox, the non focused window behaves slightly differently. Firefox requires a couple of extra swipes to jump from chat to main body when bleeding. Also, if you begin scrolli

[2016-05-31 09:37] jasmussen commented on #18
Thanks for the video, and thanks for this extensive testing.

The bounce that happens here is, I think, called "overscroll bounce", and is something that started on iOS and then migrated to desktop Safari, then Chrome.

The technique we've adopted for preventing scroll-bleed doesn't easily support this overscroll bounce. We can theoretically emulate it, but it'll never be perfect.

Solutions to th

[2016-05-31 09:59] jasmussen commented on #12
Again, very thorough testing, I appreciate this a whole bunch.

I've tested 5 different techniques for preventing scroll-bleed, and I collected them all here: http://codepen.io/collection/DZOGmL/

As it turns out, in JavaScript, we can't detect where your mouse cursor is, unless the browser window is focused. This seems to be the same behavior in all the major browsers. Since we require JavaScript

[2016-05-31 09:59] #12 closed, assigned to nobody

[2016-05-31 10:43] jasmussen commented on #17
Great test here. I can't reproduce, though. Calypso supports IE11 and Edge, and for me it's working in both. Here's a video: https://cloudup.com/csB_xa2SAj8

That's Windows 10, though. It's possible Microsoft has pushed some compatibility updates to IE11 on that platform.

If it's the case that it only doesn't work on Windows 8, I think it's okay to ignore that as an edgecase, primarily because Mi

[2016-05-31 13:44] andreabadgley commented on #17
This is the only error I see in the console:
`SCRIPT5007: Unable to get property 'status_code' of undefined or null reference. File: build.min.js, Line: 19, Column: 21511`

I noticed that the bleed only happens if I switch from chat to main body then back to chat again -- if I remain in chat only for scrolling, it doesn't bleed. From your video, though, it looks like you tested that flow as well,

[2016-05-31 14:04] jasmussen commented on #17
Thanks, I'll keep testing in various circumstances to see if I can repeat. I'm getting the feeling there might be another JavaScript error somewhere, that simply breaks the script entirely, which would be bad for other parts of Calypso as well.

[2016-05-31 14:12] andreabadgley opened #19 "Live chat scrollbleed occurs in Safari on iPad"
Tested scrolling in live chat component in Safari on iPad. Steps to reproduce:
- Start at URL in Safari on iPad: https://lit-cove-83883.herokuapp.com/
- Log in using WPcom credentials and open chat (someone needs to be logged into HUD)
- Chat enough to create scroll.
- Start scrolling in chat panel on iPad.
- When at the end of chat scroll, scroll jumps to main window and begins scrolling the Read

[2016-05-31 14:29] andreabadgley commented on #19
Scrollbleed also occurs in Firefox browser on iPad. Follow same steps as above, only in Firefox web browser app instead of Safari.

[2016-05-31 14:37] andreabadgley commented on #19
Also occurs in Chrome. Same steps as above will result in scrollbleed in Chrome on iPad.

[2016-06-01 10:29] jasmussen commented on #19
I tried fixing this today. Seems like there's no easy fix. Let's keep this bug open, should inspiration strike. Here are my findings:
- Applying `preventDefault` does not appear to work properly when attached to `onTouchMove`, so we can't prevent scrolling on a touch device using the same technique we use on desktops.
- Applying `pointer-events: none;` in CSS to the main `body` element does not wo

[2016-06-01 10:43] jasmussen commented on #13
Fixed in a recent commit, [](https://github.com/tinkertinker/wp-calypso/pull/3/commits/ef6b11f3ce133765a7920bbb90c4c2d8078b2895)! Great report, thanks.

[2016-06-01 10:43] #13 closed, assigned to jasmussen

[2016-06-01 12:13] andreabadgley opened #20 "Live chat panel obscured on Calypso menus screen"
When window is sized such that live chat is the small panel instead of the full sidebar, the panel is obscured by the custom menu when on the Calypso menus screen at `/menus`: https://lit-cove-83883.herokuapp.com/menus/{siteURL}:

![chat_obscured_by_menu](https://cloud.githubusercontent.com/assets/9036382/15708984/2cfb2cee-27d0-11e6-8648-ababaf3a93d0.jpg)

It is not possible to click the chat to b

[2016-06-01 12:21] andreabadgley commented on #20
cc: @jasmussen

Here's a 15 sec video that demonstrates it a little more clearly:

https://cloudup.com/cbuPC5PBLvN

[2016-06-01 12:25] andreabadgley opened #21 "Stats screen text fields bleed through live chat panel"
When scrolling through Insights and other stats screens in Calypso, a small amount of white at the edge of the text field bleeds through to the chat panel:

<img width="449" alt="stats bleed 1" src="https://cloud.githubusercontent.com/assets/9036382/15709251/b9324f48-27d1-11e6-89a2-e19d2cc23565.png">

Steps to reproduce:
1. Go to https://lit-cove-83883.herokuapp.com
2. Log in with WPcom credential

[2016-06-01 12:50] jasmussen commented on #20
You're pretty good at this! Should be fixed by https://github.com/tinkertinker/wp-calypso/pull/3/commits/709183bbc3ca334944d610839bb52156b134fbdc

[2016-06-01 12:50] #20 closed, assigned to jasmussen

[2016-06-01 12:50] jasmussen commented on #21
Should be fixed by https://github.com/tinkertinker/wp-calypso/pull/3/commits/709183bbc3ca334944d610839bb52156b134fbdc

[2016-06-01 12:50] #21 closed, assigned to jasmussen

[2016-06-01 17:28] mjangda commented on #7
Delta has the beginnings of `push-notification` support in Calypso, although, that may not match our specific use case here since we just want local notifications (receive live chat message => show browser notification) and don't need fancy stuff like offline notifications. Plus, browser support for push-api kinda sucks.

Might be able to re-use some stuff though like the auth flow.

[2016-06-02 19:51] andreabadgley commented on #18
The bounce (or lack of bounce) doesn't bother me. I reported in case there were larger issues at play. I personally don't think it's worth putting a lot of effort into adding a bounce to the chat window.

[2016-06-08 12:30] andreabadgley commented on #6
cc @johngodley since you fixed a similar issue [here](https://github.com/Automattic/happychat-hud/issues/128).

[2016-06-08 18:11] jasmussen commented on #10
I believe this was fixed a while back.

[2016-06-08 18:11] #10 closed, assigned to nobody

[2016-06-09 07:58] jasmussen commented on #17
I have been unable to reproduce this. It works consistently for me. Closing down for now, we can reopen if we reproduce.

[2016-06-09 07:58] #17 closed, assigned to nobody

[2016-06-15 12:14] andreabadgley commented on #18
closing -- this is low priority

[2016-06-15 12:14] #18 closed, assigned to jasmussen

[2016-06-15 12:42] andreabadgley opened #23 "Scroll broken in input field when scroll exists in sidebar/panel"
Steps to reproduce
1. Starting at URL: https://lit-cove-83883.herokuapp.com/
2. Open chat using Support Chat link in left footer
3. Send enough messages to require scrolling in the chat sidebar/panel
4. Type a long message in the input field. When the long message is long enough to require scrolling in the input field, attempt to scroll the input field before sending the message.
5. Hover over or

[2016-06-21 11:54] andreabadgley opened #24 "Support Chat footer link does not work in Safari"
Steps to repro:
1. Open Safari in OSX El Capitan
2. Start at URL: https://lit-cove-83883.herokuapp.com/
3. Click Support Chat link in left footer
4. Nothing happens -- support chat does not open as expected.

[2016-06-21 12:08] andreabadgley commented on #16
Reproduced today in OSX El Capitan.

Current (existing) messages will not sync into a new session in a second browser. However, once the new session is opened, all subsequent messages will sync across browsers.
1. Log into https://lit-cove-83883.herokuapp.com/ in Chrome incognito window.
2. Type some messages & receive some messages from operator.
3. Log in as same user https://lit-cove-83883.hero

[2016-06-23 18:57] beaucollins commented on #24
It looks like the floating panel is no longer working. If you widen your screen (if possible) does the sidebar show up?

I'll take a look at what's causing this.

[2016-06-23 21:45] andreabadgley commented on #24
Yep, you're right. When I widen my screen, the sidebar shows up. Only the panel is missing.

[2016-06-28 16:19] beaucollins commented on #24
This should be fixed now via 3c588ec48a1abffa4e26f89f5e12248827edfc92

[2016-06-30 13:03] andreabadgley commented on #24
Yep, works now. Thanks Beau!

[2016-06-30 13:03] #24 closed, assigned to nobody

[2016-07-27 14:12] andreabadgley opened #26 "Chat sidebar obscures Calypso screens"
#### Steps to reproduce
1. Starting at URL: https://lit-cove-83883.herokuapp.com
2. Resize screen so that chat expands to right sidebar.
3. On Reader, chat sidebar obscures right side of posts.
4. Click to My Sites > Stats.
5. Chat sidebar covers right hand side of stats.
6. Click around other Calypso screens; chat sidebar covers the right side.

It looks like the Calypso screen is not centering b

[2016-07-27 14:29] andreabadgley commented on #8
Reopening because the clipping is happening on the Heroku instance as of July 27, 2016. If Heroku isn't running current updates that fix this, feel free to close the issue again :-).

https://lit-cove-83883.herokuapp.com/me/billing
![billing](https://cloud.githubusercontent.com/assets/9036382/17178764/b61c3b90-53e4-11e6-9204-e2a71e677b92.png)

https://lit-cove-83883.herokuapp.com/design
![theme](h

[2016-07-27 14:34] andreabadgley opened #27 "Calypso elements clipping through chat panel"
This was reported in #8 and was fixed, but is happening still. I thought I could reopen the issue, but I can't so I'm re-reporting. The clipping is happening on the Heroku instance as of July 27, 2016. If Heroku isn't running current updates that fix this, feel free to close the issue again :-).

https://lit-cove-83883.herokuapp.com/me/billing
![billing](https://cloud.githubusercontent.com/assets/

[2016-07-28 17:48] kriskarkoski opened #28 "Improve chat styling on narrow screens"
On narrower screens the Happychat window is not docked in full-height on the right side, but instead floats in the bottom-right corner and covers over half of the width, which feels out of place since it covers elements of Calypso. I think we should either make it narrower to be more into the right-corner like our previous chat implementation or take up the full-width on the bottom of the screen.

[2016-07-28 17:50] kriskarkoski commented on #7
We'll also need to make sure a notification is provided user has hidden the chat, but the conversation is still active (this is assuming the user closing the chat doesn't immediately end the conversation).

[2016-07-28 17:55] kriskarkoski opened #29 "Open chat when navigating from /me/chat to another screen"
Currently, if a user has an active chat at /me/chat and navigates to another part of Calypso, such as Stats, the chat is hidden and must be reopened by clicking "Support Chat" in the sidebar.

Instead, if a user has an active chat at /me/chat and clicks to another Calypso page we should automatically expand the chat so they don't lose the conversation and need to find that link. This seems especia

[2016-07-28 18:50] andreabadgley commented on #7
Here's one example for what this could look like. Other mockups [here](https://teamtinker.wordpress.com/2016/03/31/invoking-support-chat/).

![happychat notification](https://cloud.githubusercontent.com/assets/9036382/17225367/a1c839ca-54d2-11e6-8d3b-8bee3e47a747.png)

[2016-07-28 18:54] andreabadgley commented on #28
This is the intended look that was previously in use:
![chat panel](https://cloud.githubusercontent.com/assets/9036382/17225553/75c42b12-54d3-11e6-844c-1a9ec34d1e89.jpg)

[2016-08-24 13:11] andreabadgley commented on #6
More notes on this:
- If link is in Calypso, like https://wordpress.com/me, user should be taken to new Calypso screen in the same tab.
- If link is not in Calypso, like http://en.support.wordpress.com/menus/, link should open in new tab.

[2016-08-24 19:23] mjangda commented on #6
@beaucollins since you're looking into this, we have the auto-formatter lib in HUD that we probably can re-use here.

[2016-08-25 11:02] andreabadgley opened #30 "Flip the chat bubble for users"
Originally reported in https://github.com/Automattic/happychat-hud/issues/318 by @eduardozulian:

At the moment, we are using the same chat bubble for both user and operator:

![captura de tela 2016-08-15 as 10 51 12](https://cloud.githubusercontent.com/assets/1136160/17666599/472cd7ce-62d7-11e6-8016-a17ba9e91d15.png)

The idea here is just flip the tail and other elements to point the chat bubble

[2016-08-25 18:47] beaucollins commented on #6
Ok. Another thing I'm looking at is having a middleware that can perhaps do some even fancier things by detecting if links are for wordpress.com blogs, internal calypso screens or external site links and adding information based on that.

[2016-08-26 22:55] beaucollins commented on #30
A css class change actually caused this regression. The customer's bubble was white and pointed to the right. Fixed and being deployed.

![screen shot 2016-08-26 at 3 57 42 pm](https://cloud.githubusercontent.com/assets/19795/18022701/e0eeb48c-6ba5-11e6-9cb0-1ab109303807.png)

[2016-08-26 23:05] beaucollins commented on #23
You should be able to scroll the input field now on desktop browsers.

[2016-08-26 23:05] beaucollins commented on #26
This is fixed and deployed.

[2016-08-26 23:05] #26 closed, assigned to nobody

[2016-08-26 23:05] #30 closed, assigned to nobody

[2016-08-27 14:01] andreabadgley commented on #27
Looks like this was repaired with the fix for #26 [here](https://github.com/tinkertinker/wp-calypso/commit/ffec0c4d2d9f68e553797ddcc9d7d5148ec2882c).

[2016-08-27 14:01] #27 closed, assigned to nobody

[2016-08-27 14:03] andreabadgley commented on #23
Tested and I am able to scroll input field in sidebar and in panel (Chrome and Firefox, OSX El Capitan).

[2016-08-27 14:03] #23 closed, assigned to nobody

[2016-08-29 18:51] andreabadgley commented on #6
Woot! Links work for users now :-)

[2016-08-29 18:51] #6 closed, assigned to beaucollins

[2016-08-29 18:52] beaucollins commented on #6
For future consideration: links within calypso should open within calypso. Right now it will launch a new browser window.

[2016-08-29 18:57] andreabadgley opened #31 "Add contrast for links in live chat component"
Links in the user client are a bit hard to read. Can we increase the contrast? In the HUD, the hex color for links is #9FE9FC.

Here's what they look like in the user client:
<img width="364" alt="poor contrast for links in user client" src="https://cloud.githubusercontent.com/assets/9036382/18063362/a769f622-6df8-11e6-84c2-6cdfd03f78e9.png">

Here's what they look like in the HUD:
<img width="575

[2016-08-29 19:52] georgeh opened #32 "Add messaging if no agents available for staging"
Before Happychat is launched to staging for A12S, let's add a message for users who open chat when there are no available agents:

No agents are currently available to chat. If you'd like to become available as an agent, log in at happychat.io.

[2016-08-31 10:40] andreabadgley commented on #32
This is done :-)

[2016-08-31 10:40] #32 closed, assigned to nobody

[2016-08-31 11:56] ashercantrell opened #33 "User isn't notified when the operator has ended chat"
This may be a wontfix, but currently with Olark, users see a short notification that the operator has ended the chat. It appears that Happychat doesn't have this at the moment from my testing.

[2016-08-31 12:08] rachelmcr opened #34 "Clarify "minimize" versus "disconnect/end" actions for user"
Currently, when a user has an active chat there is an "X" at the top of the chat to minimize it:

![screen shot 2016-08-31 at 1 05 25 pm](https://cloud.githubusercontent.com/assets/8658164/18128023/a650543c-6f7b-11e6-840a-8298237d43c3.png)

I'd suggest clarifying the UI so users understand that this only minimizes the chat. When I saw it, I assumed that clicking the "X" would end the chat and disc

[2016-08-31 12:13] rachelmcr opened #35 "Lost chat while navigating in the same tab"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/
2. Click "Support Chat" to start a new chat
3. Enter a message and go back and forth with the operator
4. Click "My Sites" in the same browser tab
#### What I expected

I expected the chat to follow me to the new page.
#### What happened instead

I lost the chat. The chat sidebar (on the right) closed, and when I clicked "Support C

[2016-08-31 12:17] rachelmcr opened #36 "Collapse open chat when navigating from other screen to /me/chat"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/
2. Click "Support Chat" to start a new chat
3. Enter a message and go back and forth with the operator
4. Click on your Gravatar in the masterbar to go to the `/me` page
5. Click "Support Chat" in the left sidebar to go to https://wordpress.com/me/chat
#### What I expected

I expected to see a full-screen chat.
#### What happened i

[2016-08-31 12:53] andreabadgley commented on #33
Related: https://github.com/Automattic/happychat/issues/21, https://github.com/Automattic/happychat/issues/22, https://github.com/Automattic/happychat/issues/18

[2016-08-31 12:59] andreabadgley opened #37 "Change X to an upside-down carat for user in live chat component"
In testing, several folks asked "Will the X end the chat?" They indicated reluctance to click it in fear of closing the chat permanently. I recommend changing the X to a character that suggests minimization rather than closure.

The X looks so permanent:
![x looks permanent](https://cloud.githubusercontent.com/assets/9036382/18129544/2f039db6-6f59-11e6-9312-6ea44a3051fc.png)

[2016-08-31 13:01] andreabadgley commented on #37
d'oh! should have checked the repo before reporting. Closing in favor of #34.

[2016-08-31 13:01] #37 closed, assigned to nobody

[2016-08-31 13:14] andreabadgley opened #38 "Change opening "A chat history will be stored here" message to user"
When a user opens a new chat in Happychat, they receive this message:

Until https://github.com/Automattic/happychat/issues/8 is implemented, we should change this message to:

or something similar :-)

[2016-08-31 16:59] rachelmcr commented on #31
+1 to this. The contrast on the links is fine if I send the link as a user (on white background) but it's very hard to read links sent by the operator.

[2016-08-31 17:21] rachelmcr opened #39 "Chat window breaks when browser is resized to less than 1040px wide"
#### Steps to reproduce
1. Starting at URL: Any Calypso URL, e.g. https://wordpress.com/
2. Make sure your browser window is wider than 1040 px and start a new chat
3. Resize the window so it is 1040 px wide or smaller
#### What I expected

I expected the chat window to respond to the smaller browser width/size.
#### What happened instead

The window "detached" from the sidebar (not connected to t

[2016-08-31 17:37] rachelmcr opened #40 "Chat is lost when navigating between Calypso screens on mobile"
#### Steps to reproduce
1. On a mobile device, starting at URL: https://wordpress.com/
2. Tap "Followed Sites" at the top to open the Reader sidebar
3. Tap "Support Chat" to start a new chat — you are directed to https://wordpress.com/me/chat to start the chat
4. Enter a message and start chatting with an operator
5. Tap on a link in the masterbar to navigate around Calypso — the chat window disap

[2016-08-31 17:55] rachelmcr opened #41 "Some message may be lost (not synced) when switching between browsers"
#### Steps to reproduce
1. In a desktop browser, starting at URL: https://wordpress.com/
2. Click "Support Chat" to start a new chat
3. Enter a message and start chatting with the operator
4. In a mobile browser, open https://wordpress.com/me/chat
5. Continue chatting with the operator (note the previous messages from the desktop browser won't appear in the mobile browser, per #16, but new message

[2016-08-31 21:08] Lochlaer commented on #34
If it's a fairly long chat, it would be better if the X/- was located in the bottom right of the chat box rather than at the top. It wasn't super obvious to me while I was chatting with @amylaneio where to do just that.

I also want to 👍 the option to offer the users (not just HEs) a way to end the chat themselves. When I've used live chat with other services, I usually just want to ask my questio

[2016-09-01 17:47] rachelmcr opened #42 "Add "Support Chat" link to Me menu on front of site"
#### Steps to reproduce
1. Starting at the front page of your site
2. Click the Gravatar in the admin bar to open the /me menu
3. Look for "Support Chat" link (nothing appears under the Help link)
4. Click on "My Profile" to open https://wordpress.com/me
5. Look for "Support Chat" link (appears under the Help link in the sidebar)
#### What I expected

I expected the links in the /me menu on the fr

[2016-09-01 17:59] rachelmcr commented on #35
I can consistently reproduce this issue with a different set of steps:
1. Starting at URL: https://wordpress.com/me/chat
2. Enter a message to start a new chat (no reply from operator yet)
3. Click "Reader" in the masterbar to open https://wordpress.com/
4. The chat window is gone, so click "Support Chat" in the bottom left to reopen the chat window. The initial message in my chat is still there.

[2016-09-01 18:34] rachelmcr opened #43 "Chat does not work well from theme info page (easy to lose the chat)"
#### Steps to reproduce
1. Starting at URL: https://wordpress.com/design
2. Select a site and click the Support Chat link to start chatting
3. Click on a theme to view the theme info page (problem 1)
4. Click the "X" on the chat to close it (problem 2)
5. Go back to the All Themes page and click Support Chat to find the chat again
6. Click on a theme to view the theme info page again
7. Click the

[2016-09-01 20:37] andrewspittle commented on #16
A very similar thing happens upon a full page refresh. After a quick chat in Slack I'm commenting here as it's perhaps related.

Here's what happens:
1. I can start a new chat from My Sites.
2. I can click around in Calypso and the chat history persists (e.g. clicking to Reader).
3. If I do a page refresh (e.g. Command + R) the chat sidebar and its history disappears.
4. I can re-open a support ch

[2016-09-02 18:14] andrewspittle opened #44 "Posting activity graph is cut off after starting a new chat"
If you initiate a new chat from `stats/insights/siteurl` the posting activity graph is cut off by the chat sidebar.

**Steps to reproduce**
1. Open the Insights page for a site. e.g. https://wordpress.com/stats/insights/andrewspittle.com
2. Click "Support Chat" to start a new chat.
3. Note the display of the "Posting Activity" section of the page.
4. The most recent month or so will be cut off.

Y

[2016-09-02 18:53] professarah opened #45 "Scrolling Issue: no notification to user that they operator has responded/they should scroll down."
#### Steps to reproduce

**No Notification When User Scrolls Up in Conversation:**
1. Starting as user, log into chat.
2. Begin conversation with operator. Operator responds.
3. Create enough of a conversation for a reasonable backscroll. (Note that the scroll does not follow the conversation--it stays at the top.)
4. Operator responds as user is reading the backscroll above.
5. There is no notifi

[2016-09-02 20:51] dwainm opened #46 "Add ability for user to end chat."
#### What I expected

After completing  a chat.  I'd like to close a chat as user or from the agent's side.
#### What happened instead

The chat goes on endlessly. Closing the chat window doesn't  end the chat.
#### Browser / OS version

Chromes / OSx El Capitan

[2016-09-05 13:15] andreabadgley opened #47 "Typing lags in Safari in live chat component"
_Originally reported by @kriskarkosi in https://github.com/Automattic/happychat/issues/98:_

I tried to replicate this in Safari on 9.1.3 in OS X El Capitan 10.11.6 today but was unable.

[2016-09-05 13:23] andreabadgley opened #48 "Smarter link behavior: Calypso in same tab, everything else in new tab"
_Originally reported by @kriskarkoski in https://github.com/Automattic/happychat/issues/99_

Related: https://github.com/tinkertinker/wp-calypso/issues/6#issuecomment-243218894

[2016-09-07 15:28] rickybanister commented on #42
I came here to report the same thing. I think we should build a 'help menu' component for the sidebar so that these links are displayed consistently across all sidebars as a footer.

[2016-09-07 15:34] rickybanister opened #49 "Support Chat margins inconsistent with Calypso"
#### What I expected

I expected the margin around the chat to have more breathing room at desktop widths—I think the margin is something like 32px at the largest breakpoint. As the window gets smaller the margin should diminish. Similarly, the text input could either have a margin around it or more inner padding at large widths.
#### What happened instead

There are 8px of left/right padding arou

[2016-09-07 17:26] andreabadgley commented on #41
@rachelmcr This looks similar to https://github.com/tinkertinker/wp-calypso/issues/16 , but I may be missing something. Would you say this report is a different issue from #16?

[2016-09-08 10:54] rachelmcr commented on #41
Here's a key observation from #16:

This issue is different, in that I already had the session going on both browsers but not all of the subsequent messages synced correctly. Quick recap:
1. I started a chat on desktop
2. I continued the chat on mobile (with the desktop browser still open)
3. I returned to desktop to continue the chat (with the mobile browser still open)
4. My first message from d

[2016-09-26 11:38] andreabadgley commented on #39
cc: @jasmussen

[2016-09-26 11:41] andreabadgley commented on #28
cc: @jasmussen This happens in both Chrome and Firefox

[2016-09-26 11:42] andreabadgley commented on #34
cc @jasmussen

[2016-09-26 11:43] andreabadgley commented on #31
cc: @jasmussen

[2016-09-26 13:10] andreabadgley commented on #49
cc @jasmussen

[2016-09-26 14:45] andreabadgley commented on #46
It is currently possible for the agent to end a chat using the `/end` command. When https://github.com/Automattic/happychat/issues/102 is implemented, the user will receive a message that the chat has ended.

It would be cool for the user to also be able to end the chat.

[2016-09-26 14:46] andreabadgley commented on #45
cc: @jasmussen

[2016-09-26 14:46] andreabadgley commented on #44
cc @jasmussen

[2016-09-26 14:47] andreabadgley commented on #43
cc: @jasmussen

[2016-09-26 14:51] andreabadgley commented on #42
Saving this for the future as we might remove the Support Chat option in the first go round. In Happychat's first iteration, users will go through the current flow of **Help → Contact** to open chat. The Support Chat link would only then appear for users who have an active chat going. Context [here](https://happychatp2.wordpress.com/2016/09/19/how-should-users-access-happychat/#comment-13).

[2016-09-26 14:53] andreabadgley commented on #33
Reported at the service level here: https://github.com/Automattic/happychat/issues/102.

[2016-09-26 14:53] #33 closed, assigned to nobody

[2016-09-26 19:29] andreabadgley commented on #38
@kriskarkoski mentioned that the user never gets an introduction to Agent W. Perhaps this is a good place to intro?

[2016-09-26 19:31] kriskarkoski commented on #38
Here's an example from @mjangda in Slack that we might be able to use for inspiration:

![image](https://cloud.githubusercontent.com/assets/1900444/18848838/3ca09cc6-83fe-11e6-9513-055cd64af34b.png)

[2016-09-27 16:30] kriskarkoski opened #50 "Posts list display issues with Happychat open"
With Happychat open the Posts list at https://wordpress.com/posts/ has some display issues, notably the Drafts sidebar is very narrow and "See all drafts (#)" runs onto a new line. It looks like we're just missing the cutoff for the Drafts moving into the top nav next to published so we may just need to tweak the cutoff slightly.

Seen on OS X 10.11.6 in Chrome 53 at 1280x800.

<img width="1280" a

[2016-09-27 16:41] kriskarkoski opened #51 "Edit Post URL Link Icon Hidden in Editors with Happychat open"
Opening Happychat while in the Post editor (wordpress.com/posts) forces the "Edit Post URL" link icon off screen:

<img width="1280" alt="screen shot 2016-09-27 at 12 35 02 pm" src="https://cloud.githubusercontent.com/assets/1900444/18882841/e8e7b252-84ae-11e6-8326-10b3aedd9566.png">

Here's what it looks like without Happychat open:

<img width="1280" alt="screen shot 2016-09-27 at 12 31 43 pm" s

[2016-09-27 17:27] kriskarkoski opened #52 "Chat box is extra wide in some cases"
In a browser window that is narrow enough for Happychat to no longer takes up the full right side it is occasionally displaying in an extra wide version rather than the smaller version docked in the bottom right corner.

Here is how it should look:

<img width="1005" alt="screen shot 2016-09-27 at 1 03 11 pm" src="https://cloud.githubusercontent.com/assets/1900444/18884509/aee56782-84b5-11e6-93b0-

[2016-09-27 17:31] kriskarkoski opened #53 "Open Customize in new tab if user has active chat session"
The "Customize" option next to Themes in the Calypso sidebar appears to be the only option linking to a non-Calypso page, which means if the user selects it while chatting with us they will no longer be able to see their chat until they navigate back to Calypso, and then it may be collapsed and hard to find. If feasible, we should force Customize to open in a new tab if the user has an active chat

[2016-09-27 17:47] andreabadgley commented on #28
Closing in favor of #52 .

[2016-09-27 17:47] #28 closed, assigned to nobody

[2016-09-27 17:49] andreabadgley commented on #52
cc @jasmussen

[2016-09-27 22:16] kriskarkoski opened #54 "Remove Support Chat from sidebar unless user has active chat session"
In preparation for the beta of Happychat we need to tweak how users access chat to match how Olark is currently implements so we can staff both platforms while Happychat is in testing.

To do this, Happychat chat sessions should be started only from the wordpress.com/help/contact page (which is linked from wordpress.com/help, which is accessed from the Help option at the bottom of the Calypso side

[2016-09-27 22:51] kriskarkoski commented on #16
Related to https://github.com/Automattic/happychat/issues/8 as well

[2016-09-28 02:07] kriskarkoski commented on #39
Looks like this might be related to https://github.com/tinkertinker/wp-calypso/issues/52

[2016-09-28 10:59] jasmussen commented on #45
This is a great ticket, what an interesting issue.

I fired up a hangouts conversation, asked for a message, scrolled way back, just to see how Hangouts handles it. Interestingly — virtually nothing happens. Not even a sound. Just a brief flash of the scrollbar to indicate that the chat grew longer. This suggests to me there's no universal "comme il faut" for solving this problem.

Two ideas:
1. a

[2016-09-28 11:17] jasmussen commented on #49
Excellent feedback. I have addressed this in the Happychat HUD.

I don't know that in the current implementation it makes sense to fix in the frontend client, simply because you're never actually supposed to see such a wide chat panel. That is, your screenshot is showing a bug where the panel is super wide when it's not supposed to be.

I will fix the wide panel in #52, and close this for now.

We

[2016-09-28 11:17] #49 closed, assigned to nobody

[2016-09-28 11:51] jasmussen commented on #40
This is a great ticket, and very difficult to "fix" as such.

The small viewport, combined with the complexity of live chat support (keep in mind a software keyboard will cover half the screen) makes it probably difficult to almost impossible for the live chat box to actually follow the user around the site like it does on a desktop. Even if it was, it would be further complexified by scrollbleed

[2016-09-28 12:45] jasmussen commented on #31
This is fixed when https://github.com/Automattic/wp-calypso/pull/8279 is merged in. Closing here.

[2016-09-28 12:45] #31 closed, assigned to jasmussen

[2016-09-28 19:59] andreabadgley commented on #41
This is related to transcript issue which is being addressed in https://github.com/Automattic/happychat/issues/8.

[2016-09-28 20:03] andreabadgley commented on #7
Can break this into separate issues:
- Floating notifications in Calypso
- Browser sounds
- Little dot

[2016-09-28 20:31] andreabadgley commented on #16
Closing in favor of #35. Both should be fixed by fixing https://github.com/Automattic/happychat/issues/8.

[2016-09-28 20:31] #16 closed, assigned to nobody

[2016-09-28 20:34] andreabadgley commented on #35
Closing in favor of #29 .

[2016-09-28 20:34] #35 closed, assigned to nobody

[2016-09-28 20:36] andreabadgley commented on #29
Steps to repro from #35:
1. Starting at URL: https://wordpress.com/me/chat
2. Enter a message to start a new chat (no reply from operator yet)
3. Click "Reader" in the masterbar to open https://wordpress.com/
4. The chat window is gone, so click "Support Chat" in the bottom left to reopen the chat window. The initial message in my chat is still there.
5. Click the Gravatar in the masterbar to open

[2016-09-28 20:47] andreabadgley commented on #54
Dependent on https://github.com/Automattic/happychat/issues/108.

[2016-09-28 20:51] andreabadgley commented on #51
May be same underlying cause as #43. Check both tickets when fix is implemented.

[2016-09-28 20:51] andreabadgley commented on #43
May be same underlying cause as #51. Check both tickets when fix is implemented.

[2016-09-28 21:33] andreabadgley opened #55 "Provide sound notifications to user in live chat component"
When user's chat tab is not focused, provide a browser sound notification when agent has left a new message.

_Separated out from #7 for easier tracking_

[2016-09-28 21:38] andreabadgley opened #56 "Provide Calypso visual notification to user when there's a new msg from agent"
When a user receives a new chat message from an operator but is not in the chat (is looking at another window/tab, etc), provide a visual notification that there is a new message via Calypso notifications.

_Separated out from #7 for easier tracking_

[2016-09-28 21:41] andreabadgley opened #57 "Add notification dot to Support Chat link when there's a new msg from agent"
When a user has minimized the chat window, add a notification dot when there is an unread message from an agent.

![happychat notification](https://cloud.githubusercontent.com/assets/9036382/17225367/a1c839ca-54d2-11e6-8d3b-8bee3e47a747.png)

_Separated out from #7 for easier tracking_

[2016-09-28 21:41] #7 closed, assigned to nobody

[2016-09-29 08:25] jasmussen commented on #44
Fixed when https://github.com/Automattic/wp-calypso/pull/8312 is merged.

[2016-09-29 08:25] #44 closed, assigned to jasmussen

[2016-09-29 08:52] jasmussen commented on #34
I don't know whether to comment here, or on #46, because this (excellent) ticket highlights some assumptions we've made on how the tech would work, which may turn out to not be practical. Or they just have to be in the future.

Here are the reasons why the design looks like it currently does. Basically, you're having a never-ending conversation with _WordPress.com_, and just like there isn't a con

[2016-09-29 08:54] jasmussen commented on #46
Please see also #34 for some context on why this is tricky from a UI point of view.

That aside, I'd appreciate input on how other chat systems, like Olark, provide UI affordances for users to end chats. Is there a permanently visible "end chat" button? Is there an X button that ends the chat, next to a minimize button? Is there a confirm prompt on the X button? Screenshots would be appreciated.

[2016-09-29 09:05] jasmussen commented on #38
Let's keep it simple for now. Will be fixed when https://github.com/Automattic/wp-calypso/pull/8315 is merged.

[2016-09-29 09:05] #38 closed, assigned to jasmussen

[2016-09-29 09:08] jasmussen commented on #57
This might have to change depending on what we decide in #34. Could be we have to make it a flashing panel instead.

[2016-09-29 09:09] jasmussen commented on #56
Isn't this a duplicate of #57?

[2016-09-29 09:11] jasmussen commented on #54
Also dependent on #34, as that might have us move to a collapsed panel.

[2016-09-29 09:55] rachelmcr commented on #34
Thanks for the background, @jasmussen! I don't think users really _need_ a way to end a chat from their end, especially given our goal to keep the user's chat history available whenever they open chat. As long as they can close the window and move on when they're done with the chat (which they can do now) it seems ok to me.

I also don't think a minimize icon/floating tab is absolutely necessary.

[2016-09-29 10:03] jasmussen commented on #52
The wide chatbox is covered in a different ticket, but the overlapping gradient should be fixed when https://github.com/Automattic/wp-calypso/pull/8317 gets merged in. Actually the wide box will too.

[2016-09-29 10:03] #52 closed, assigned to jasmussen

[2016-09-29 10:03] jasmussen commented on #39
This should be fixed when https://github.com/Automattic/wp-calypso/pull/8317 gets merged in.

[2016-09-29 10:03] #39 closed, assigned to jasmussen

[2016-09-29 10:22] jasmussen commented on #34
Thanks for the followup Rachel.

As an alternative to reverting back to the panel mode, is to try and stick to what we have, but change the X button to a minimize icon — perhaps a different one, maybe a downward chevron? But then we'd need the notification dot from #57.

[2016-09-29 11:13] jasmussen commented on #51
Should be fixed when https://github.com/Automattic/wp-calypso/pull/8319 gets merged in. Won't fix #43.

[2016-09-29 11:13] #51 closed, assigned to jasmussen

[2016-09-29 11:38] jasmussen commented on #43
The broken layout will be fixed when https://github.com/Automattic/wp-calypso/pull/8320 gets merged in.

Problems 2 and 3 are hard to solve, so I'll open a separate ticket.

[2016-09-29 11:38] #43 closed, assigned to jasmussen

[2016-09-29 11:40] jasmussen opened #58 "Opening external Calypso links in same window loses chat"
Some links in Calypso open a non-react page, in the same window. If you were in a chat at the time, you obviously lose the chat.

In #43, @rachelmcr notes that this is the case on theme pages.

Should we add a "Are you sure you want to leave this page" JavaScript prompt, like the Happychat HUD has, to at least alert the user what's about to happen?

[2016-09-29 11:49] andreabadgley commented on #34
Rachel definitely was not the only one who felt the X was very final. Several people in testing asked "What does the X do?" They asked because they didn't want to click it, fearing it would close the chat.

I vote for a downward chevron and the notification dot. Beau indicated in the call yesterday that the dot might not be too much work for beta. :fingerscrossed:

[2016-09-29 12:00] andreabadgley commented on #56
In the call yesterday we talked about a floating Calypso notification, and now I'm realizing what I visualized for that is actually a browser notification:

![screen shot 2016-09-29 at 7 56 19 am](https://cloud.githubusercontent.com/assets/9036382/18953001/467820d4-861a-11e6-9a0d-174c1ef94e7a.png)

I distinctly remember the dot and the floating Calypso notif being two separate things, though. Mayb

[2016-09-29 12:02] jasmussen commented on #56
Gotcha, yes, a browser heads up notification would serve to solve the problem fine indeed.

[2016-09-29 12:09] andreabadgley commented on #46
We do not currently offer the user the opportunity to close the chat using Olark. This request is definitely an enhancement to consider for the future and is not necessary for beta.

From a user perspective, it's nice to have the option to end the chat and have closure. This also lets the operator know, "This user is finished/resolved" so that the agent can move on without the whole "you hang up f

[2016-09-29 16:17] kriskarkoski commented on #46
I agree with the above comments, the concept of ending a chat doesn't _have_ to be user facing (and isn't even available as an option in Olark), but before we launch we will need to think about what user behavior constitutes ending a session and opening an operator up for another chat.

Currently in Olark I don't think we ever automatically end a chat unless the user leaves WordPress.com. I think

[2016-09-29 16:24] kriskarkoski commented on #34
For reference, here's what Olark looks like now:

<img width="320" alt="screen shot 2016-09-29 at 12 10 03 pm" src="https://cloud.githubusercontent.com/assets/1900444/18962625/9d22c4aa-863f-11e6-9ca6-58eed9ff1c6c.png">

Clicking that option collapses chat into a small chat icon in the bottom right corner:

<img width="67" alt="screen shot 2016-09-29 at 12 07 39 pm" src="https://cloud.githubusercon

[2016-09-29 16:29] beaucollins commented on #56
To follow existing calypso conventions we can potentially use calypso's notices that appear in the top right corner of the browser window.

I'm not sure if it's the right design decision for this use case but it's something already provided.

[2016-09-29 18:56] jasmussen commented on #46
I like the idea of the user not having to worry about ending a chat, and having that being something "we" take care of. It also fits with the initial vision of Happychat being an ongoing conversation with WordPress.com, that stores all your history.

Since we don't have that history currently though, but we do send chat transcripts, the question remains though, do we want a user facing "button" or

[2016-09-29 18:57] jasmussen commented on #56
That _sounds_ like a good use of a notice to me, but I'd like to doublecheck with someone like @mtias. I incidentally chatted with him a little while ago about the sidebar support link anyway, and having a notification that _isn't_ a dot could be useful.

[2016-09-29 19:48] andreabadgley commented on #46
We can definitely live without it for now.

[2016-09-30 13:34] mtias commented on #56
A global Calypso notice could be fine. If you want to do browser notifications we also have this https://github.com/Automattic/wp-calypso/tree/master/client/state/push-notifications

[2016-09-30 21:26] dwainm commented on #46
+1 for living without it. I also like the idea of having a continuous conversation. The initial thought behind this issue was how familiar I was with the end chat feature all over the web.

[2016-10-12 18:43] beaucollins opened #59 "Typing indicator when operator is typing"
Use the typing indicator sent to customers to display an operator typing indicator.

See automattic/happychat#89

[2016-10-12 19:38] andreabadgley commented on #36
Tested today and this is fixed.

[2016-10-12 19:38] #36 closed, assigned to beaucollins

[2016-10-13 11:53] jasmussen commented on #34
This PR here changes the X to a downwards chevron. It also adds a "minimize" animation, hopefully directing the user attention to the button they have to press to open the chat again. I feel like the combination of those two, once merged in, should close this issue.

Edit: forgot to specify which PR I was referencing. It's this: https://github.com/Automattic/wp-calypso/pull/8706

[2016-10-16 19:05] jasmussen commented on #57
Working on this issue in this branch: https://github.com/Automattic/wp-calypso/pull/8578

— could use some pro-level-JS help!

[2016-10-17 13:53] jasmussen opened #60 "Feature: Image expansion"
HEs often post animated GIFs in chat to explain how a particular feature works or other. Little screen recordings, in other words.

If we can, we should detect when a GIF URL is pasted, and automatically expand it to an embedded `img`.

Not that high a priority.

[2016-10-17 13:56] jasmussen opened #61 "Feature: Smiley and emoji conversion"
HEs often, depending on the conversation, add smileys or emoji.

Emoji work, and smileys show up as text smileys, so that's all good. But long term it would be nice if they both behaved like they do on WP.com, where `:)` is converted to 😀, and that smileys and emoji alike use the Twemoji set.

Not a high priority.

[2016-10-18 19:15] #48 closed, assigned to mjangda

[2016-10-18 19:50] mjangda commented on #48
This is live and mostly working.

There are two bugs that I'm fixing:
- A URL without a scheme is not hyperlinked (this bug was fixed in HUD)
- A internal URL with a scheme that doesn't match (e.g. I send `http://wp.com/me` and the user is on `https`) results in a reload.

[2016-10-18 20:55] mkaz opened #62 "Handle Session ID for closed chat"
The current scenario is a session id is created when a chat starts and then while that browser/tab is open will continue using the same session id, even after an operator might of issued an `/end`

An operator resolves an issue and thinks the chat is over, so issues an `/end` which triggers marks the end time in the database and triggers the transcript.

The user might at this point, or maybe a fe

[2016-10-19 04:19] mjangda commented on #62
This may be a non-issue once we move to the contact form, but we definitely should start a new session after the user gets the "no operators" message. Right now, the transcript ends up including the "no operators" message if I send a message in the same window later and an operator is around.

/cc @andreabadgley for any thoughts she might have.

[2016-10-19 11:08] andreabadgley commented on #62
I agree with Mo that we should definitely start a new session after the "no operators" message so that message isn't included in the transcript, and that that probably will be a non-issue once we move to the contact form. If it does become an issue, maybe that message needs to trigger an `/end` event somehow.

We should not do option 1 above unless we have a way to manually send the second transcr

[2016-10-19 17:46] mjangda commented on #48
The 2nd issue in the comment above was fixed in https://github.com/Automattic/wp-calypso/pull/8831

The 1st issue needs to be fixed in the service (not extracting schema-less urls)

[2016-10-19 21:06] mjangda commented on #48
Much better now. There are some things that don't match like just `example.com` but that's something we can look at in the future.

[2016-10-20 08:29] jasmussen commented on #34
This is now merged in!

[2016-10-20 08:29] #34 closed, assigned to jasmussen

[2016-10-21 23:59] kriskarkoski commented on #62
I like the idea of starting a new session after a user hasn't contacted us for 15 minutes after an /end and otherwise sending a partial duplicate transcript with the old conversation and the new conversation following the /end.

[2016-10-24 09:41] jasmussen commented on #29
I don't know why this occurs to me just now, but I'm thinking this issue should be fixe in a different way.

`/me/chat` was actually created only for the mobile experience. Even though the chatbox is responsive, on mobile there's terrible scroll-bleed which makes the experience almost unusable. As such, when you are on mobile, click the sidebar, click support chat at the bottom, instead of opening

[2016-10-24 10:05] jasmussen commented on #29
Unless anyones scream objections, I will consider this issue fixed when https://github.com/Automattic/wp-calypso/pull/8918 is merged in.

[2016-10-24 15:06] kriskarkoski commented on #29
Once Happychat is wired to the contact form we'll still need to check that navigation from /help/contact to Calypso opens the chat panel.

@jasmussen Is there a reason to diverge on the mobile experience or could they go through /help/contact as well since that should have the same full screen chat there once it's hooked up

[2016-10-24 15:18] jasmussen opened #63 "Mobile support chat link reloads the page when clicked the second time"
Steps to reproduce:
1. On mobile, go to /me, click “support chat”
2. Click "Me" icon to go back to /me, and then click “support chat” a second time

It reloads Calypso.

[2016-10-24 16:06] jasmussen commented on #29
We chatted in Slack to clear up any things.

Here's how it should work on both desktop and mobile, for beta launch:
1. Support chat button is invisible in footer
2. User navigates to /help/contact/ and starts a chat
3. Support chat button becomes visible, until a chat & session is ended
4. All chats are started from /help/contact/

The only place where desktop and mobile diverge, is what happens w

[2016-10-24 17:23] jasmussen commented on #53
This is fixed when https://github.com/Automattic/wp-calypso/pull/8925 gets merged!

[2016-10-24 17:54] jasmussen opened #64 "Bump /me/chat to the contact form unless authorized"
The `/me/chat` URL exists to alleviate a problem with scroll bleed on mobile. As such, it exists primarily for mobile users to have a good experience, and it's not intended to be a destination on its own. The sidebar link that leads there is <a href="https://github.com/Automattic/wp-calypso/pull/8918">about to be removed as well</a>.

However, if someone finds that URL (starting a chat on mobile w

[2016-10-25 09:04] jasmussen commented on #53
Merged!

[2016-10-25 09:04] #53 closed, assigned to jasmussen

[2016-10-25 09:35] jasmussen commented on #29
Fix merged upstream!

[2016-10-25 09:35] #29 closed, assigned to jasmussen

[2016-10-28 08:16] jasmussen commented on #54
Dependant tickets have been merged, so closing this!

[2016-10-28 08:16] #54 closed, assigned to nobody

[2016-10-29 15:50] beaucollins opened #65 "Display Happychat availability to customers who have opened a chat"
Instead of relying on the service to keep track of who it has sent a "No operators available" message to the chatting interface should inform the user of chat availability.

[2016-10-29 15:52] beaucollins commented on #65
Relies on Automattic/happychat-service#75

[2016-11-03 19:58] kriskarkoski opened #66 "Chat icon appears in footer before chat is started"
If I navigate to wordpress.com/help the Support chat bubble icon is missing from the footer as expected, but if I click Contact Us to go to https://wordpress.com/help/contact the chat icon appears in the sidebar footer before I've started a chat:

![screen shot 2016-11-03 at 3 48 29 pm](https://cloud.githubusercontent.com/assets/1900444/19982591/0ceeba2e-a1dd-11e6-99b1-fc7e24c22b3d.png)

It persis

[2016-11-07 23:38] beaucollins commented on #65
This is deployed on staging.

[2016-11-07 23:38] #65 closed, assigned to nobody

[2017-01-16 15:38] kriskarkoski commented on #55
A user [mentioned](https://a8c.slack.com/archives/livechat/p1484565487039170) missing this after our switch to Happychat and I've noticed a higher frequency of users not responding right away compared to Olark I think mostly because of the lack of notification.

[2017-01-17 15:34] andrewspittle commented on #55
I wonder if some of the customers we're missing have also minimized the chat sidebar into the little bubble icon. In those cases when there's a new message we leave the icon background Calypso blue. In addition to a sound we could flag that square icon area notification-orange to indicate there's new chat activity.

[2017-01-17 16:35] kriskarkoski commented on #55
I think this would be a great idea and mentioned something similar [here](https://github.com/tinkertinker/wp-calypso/issues/54), but lost track of it when the main issue there got resolved.

@jasmussen Is the color change for the icon something you could look at?

[2017-01-17 16:44] jasmussen commented on #55
I'm afraid the technical bits to make the dot light up requires the master skills of someone like @beaucollins, I know he's already busy though. However, part of the work should be done. Per https://github.com/Automattic/wp-calypso/pull/8578 there is a CSS class that can be applied to the HappyChat icon in the bottom left footer: `sidebar__footer__support-chat-unread`. This is already merged in, a

[2017-01-18 02:50] jordwest commented on #55
I have a PR ready for review that adds the notification sounds for users: https://github.com/Automattic/wp-calypso/pull/10724

[2017-01-24 22:36] beaucollins commented on #55
Badge is being added in automattic/wp-calypso#10903

[2017-02-01 19:17] kriskarkoski commented on #14
Closing in favor of https://github.com/Automattic/happychat-hud/issues/49, we can add a corresponding issue in wp-calypso when it's being worked on

[2017-02-01 19:18] kriskarkoski commented on #15
Tracking this here: https://github.com/Automattic/happychat-hud/issues/458

[2017-02-01 19:21] kriskarkoski commented on #19
Moved to https://github.com/Automattic/happychat/issues/187

[2017-02-01 19:27] kriskarkoski commented on #40
Moved to https://github.com/Automattic/happychat/issues/188

[2017-02-01 19:29] kriskarkoski commented on #41
Closing now that https://github.com/Automattic/happychat/issues/8 is in place and messages should sync across browsers

[2017-02-01 19:30] kriskarkoski commented on #42
Closing since Help is linked and that is our only path into Happychat at the moment

[2017-02-01 19:36] kriskarkoski commented on #45
This will be fixed via https://github.com/Automattic/happychat-hud/issues/453, https://github.com/tinkertinker/wp-calypso/issues/55 (in review), and https://github.com/Automattic/wp-calypso/pull/10903 (in development)

[2017-02-01 19:38] kriskarkoski commented on #46
We've decided not to add a user-facing end feature for now to go along with our ongoing conversation model. Closing this unless a need surfaces for it in the future.

[2017-02-01 19:39] kriskarkoski commented on #47
This appears to have been fixed along the way as it has not come up in 2+ weeks since launching

[2017-02-06 17:44] #14 closed

[2017-02-06 17:44] #15 closed, assigned to nobody

[2017-02-06 17:45] #19 closed, assigned to nobody

[2017-02-06 17:45] #40 closed, assigned to nobody

[2017-02-06 17:45] #41 closed, assigned to beaucollins

[2017-02-06 17:45] #42 closed, assigned to nobody

[2017-02-06 17:45] #45 closed, assigned to beaucollins

[2017-02-06 17:45] #46 closed, assigned to nobody

[2017-02-06 17:45] #47 closed, assigned to nobody

[2017-02-06 17:46] kriskarkoski commented on #55
Closing since both pieces are in progress and we're clearing this repo out

[2017-02-06 17:46] #55 closed, assigned to jordwest

[2017-02-06 17:48] kriskarkoski commented on #57
In progress in https://github.com/Automattic/wp-calypso/pull/10903

[2017-02-06 17:48] #57 closed, assigned to nobody

[2017-02-06 17:49] kriskarkoski commented on #56
We're adding user-facing sound and visual notifications of new messages. We'll see how those work once in place and can revisit browser notifications in the future.

[2017-02-06 17:49] #56 closed, assigned to nobody

[2017-02-06 17:52] kriskarkoski commented on #58
With the exception of a Plugins issue in https://github.com/Automattic/happychat/issues/167 non-Calypso links open in a new window so Happychat is not lost. This behavior will also be improved once https://github.com/Automattic/wp-calypso/issues/10793 is in place

[2017-02-06 17:52] #58 closed, assigned to nobody

[2017-02-06 17:53] #59 closed, assigned to beaucollins

[2017-02-06 17:54] kriskarkoski commented on #60
Moved to https://github.com/Automattic/happychat/issues/190

[2017-02-06 17:54] #60 closed, assigned to nobody

[2017-02-06 17:55] kriskarkoski commented on #61
Moved to https://github.com/Automattic/happychat/issues/191

[2017-02-06 17:55] #61 closed, assigned to nobody

[2017-02-06 17:59] #62 closed, assigned to nobody

[2017-02-06 17:59] kriskarkoski commented on #63
We're no longer showing the "Support chat" option so this is no longer an issue

[2017-02-06 17:59] #63 closed, assigned to nobody

[2017-02-06 18:00] #66 closed, assigned to nobody

[2017-02-06 18:00] #64 closed, assigned to nobody

[2017-02-06 18:00] kriskarkoski commented on #50
Last issue :) I will test this this afternoon and move/close as needed

[2017-02-06 21:55] kriskarkoski commented on #50
Closing this as /posts with Happychat is looking better now (Drafts is still there, but showing more of the title and count styling has been fixed)

[2017-02-06 21:55] #50 closed, assigned to nobody